@media (max-width: 575px) { 
    .f_top_margin_30 {
        margin-top: 40px;
    }

    .f_dropdown-menu-left { left: 0%; right: 0%; min-width: 14rem; }
        .f_dropdown-menu-right {left: -129%; right: 0%; padding: 0.0rem 0; min-width: 16rem; }
    
    .f_margin_right_10{
        margin-right: 5px;
    }
}
@media (min-width: 768px) and (max-width: 991px) { 
    .f_dropdown-menu-left { left: 0%; right: 0%; min-width: 14rem; }
    .navbar-toggleable-md .navbar-nav .nav-link {
    .f_margin_right_10{
        margin-right: 10px;
    }
}
}

@media (min-width: 992px) and (max-width: 1199px) { 
    .f_dropdown-menu-left { left: auto; right: 0%; min-width: 14rem; }
    .f_dropdown-menu-right { left: 150%; right: auto; padding: 0; }
    .navbar-toggleable-md .navbar-nav .nav-link {
    .f_margin_right_10{
        margin-right: 30px;
    }
}
}

@media (min-width: 1200px) { 
    .f_dropdown-menu-left { left: auto; right: 27%;    min-width: 14rem;}
    .f_dropdown-menu-right { left: 78%; right: auto;  padding: 0.0rem 0; }
    .f_margin_right_10{
        margin-right: 40px;
      
    }
    
}

.custom-file-control {
   
    border-radius: 0.0rem; 
}
  